.paginate {
  li {
    display: inline-block;

    a {
      text-align: center;
      padding: 3px 10px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        background: #fe5f1e;
        color: white;
      }
    }
  }
}

:global {
  .selected {
    background: none !important;
    a {
      background: #fe5f1e;
      color: white;
    }
  }
}
