.root {
  position: relative;
}
.input {
  border: 1px solid rgb(204, 204, 204, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 45px;
  width: 300px;

  &:focus {
    border: 1px solid rgb(204, 204, 204, 0.7);
  }
}

.icon {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 10px;
}
